/* Laptop Responsiveness */
@media  screen and (min-width: 1020px) and (max-width: 1500px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: rgba(41, 40, 40, 0.767);
  }

  button {
    background-color: rgb(231, 111, 13);
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px #000;
  }

  ion-icon {
    font-size: 40px;
    padding: 0 20px;
  }
  .cornerpics {
    position: absolute;
  }
  

  .body_section {
    background: url(/background1.jpg);
    background-position: center;
    background-attachment: fixed;
  }
  .nav_container {
    /* border: 1px solid #fff; */
    width: auto;
    height: auto;
    display: flex;
    padding: 10px 5vw;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
    /* position: fixed; */
  }
  .nav_container h2 {
    color: #fff;
    font-size: 2.5rem;
  }
  
  .nav_links {
    /* border: 1px solid #fff; */
    height: auto;
  }
  .nav_links li {
    list-style: none;
    display: inline;
    word-spacing: 5vw;
  }
  .nav_links a {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
  }
  .nav_links a:hover {
    color: rgb(231, 111, 13);
    transition: all 0.5s ease;
  }
  .nav_links ion-icon {
    display: none;
  }

  .menuBtn{
    display: none;
  }

  header h1 {
    font-size: 3rem;
    font-weight: 100;
    padding-top: 20vh;
    text-shadow: 0 2px 10px black;
  }
  header h1 span {
    font-weight: bold;
    font-size: 4rem;
  }
  .line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw;
    border-radius: 10px;
  }
  header button {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 30px;
    margin: 30px 0;
  }
  header button:hover {
    background-color: rgb(209, 6, 6);
    transition: all 0.4s ease;
  }
  

  /* Welcome Container */
  .welcome_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    /* background: linear-gradient(to right, rgba(61, 61, 61, 0.5), rgba(99, 98, 98, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
  }
  .welcome_card {
    /* border: 1px solid #fff; */
    height: 40vh;
    width: 15vw;
    border-radius: 30px;
    margin: 30px 50px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .welcome_logo {
    /* border: 1px solid #fff; */
    border-radius: 100%;
    display: block;
    width: auto;
    height: auto;
    margin: 5vh 4vw -18vh 4vw;

  }
  .welcome_card h3 {
    margin-top: 20vh;
    margin-bottom: 20px;
    font-size: 25px; 
    color: rgb(206, 206, 206); 
  }
  .welcome_card p {
    font-size: 20px;
    line-height: 1.5;
    color: rgb(206, 206, 206);
  }
  .welcome_card span {
    color: rgb(206, 206, 206);
    font-size: 1rem;
  }
  .welcome_card a {
    text-decoration: none;
    padding-top: 10vh;
    color: rgb(206, 206, 206);
  }

  


  /* Food Section */
  .food_menu_container {
    /* border: 1px solid #fff; */
    padding: 10px 0;
    height: auto;
    
  }
  .food_menu_container h1 {
    font-size: 3rem;
  }
  .food_menu_container button {
    font-size: 20px;
    margin: 0 0 40px 0;
  }
  .food_menu_container button:hover {
    background-color: rgb(209, 6, 6);
    transition: all 0.3s ease;
  }
  
  .food_line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw;
    border-radius: 10px;
  }

  .food_card_container {
    height: auto;
    /* border: 1px solid #fff;ss */
    display: flex;
    justify-content: center;
    margin: 0 10vw;
    padding:5vh 0;
    flex-wrap: wrap;
    align-items: center;
  }

  .food_card {
    /* border: 1px solid #fff; */
    width: 12vw;
    height: 35vh;
    margin: 20px;
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .food_img {
    border: 3px solid rgb(211,111,13);
    height: 20vh;
    border-radius: 100%;
    margin: -5vh 15px 0 15px;
    width: auto;
    /* background: linear-gradient(to bottom, rgba(49, 49, 49), rgb(87, 85, 85)); */
    background-color: rgb(83, 81, 81);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 10px #000;
  }
  #breakfast {
    background-image: url(/breakfast.jpg);
  }
  #tacos {
    background-image: url(/tacos.jpg);
  }
  #burgers {
    background-image: url(/burger.jpg);
  }
  #wraps {
    background-image: url(/wraps.jpg);
  }
  #fishfingers {
    background-image: url(/fishfinger.jpg);
  }
  #hotdog {
    background-image: url(/hotdogs.jpg);
  }
  #salad {
    background-image: url(/salads.jpg);
  }
  #sides {
    background-image: url(/fries.jpg);
  }
  #economy {
    background-image: url(/economy.jpg);
  }
  #pork {
    background-image: url(/pork.jpg);
  }
  #chickenWings {
    background-image: url(/chickenWings.jpg);
  }
  #grilledchicken {
    background-image: url(/grilledchicken.jpg);
  }
  
  .food_card h3 {
    margin: 10px 0;
    font-size: 20px;

  }
  .food_card button {
    background: rgb(231, 111, 13);
    font-size: 15px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px;
  }
  .food_card button:hover {
    background-color: rgb(209, 6, 6);
    transition: all 0.3s ease;
  }


/* to top button */
  #toTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    width: 50px;
    height: 50px;
    background-color: rgb(211, 111, 13);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 100%;
  }
  
  

  /* About Section */
  .about_container {
    /* border: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    
  }
  .about_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px;

  }
  .about_card h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .about_card p {
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: lighter;
    color: rgb(206, 206, 206);
  }
  .about_card button {
    font-size: 1rem;
    padding: 10px 20px;
    margin: 5vh 0;

  }
  .about_card button:hover {
    background-color: rgb(209, 6, 6);
    transition: all 0.3s ease;
  }
  #about_img {
    border-radius: 50px;
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }


 /* Menu Page */
  .menucard_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #menuCont {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu_container h1 {
    font-size: 2.5rem;
    margin: 20px 0;
  }
  .menu_container p {
    font-size: 1.5rem;
    line-height: 2;
  }
  .menu_line {
    height: 3px;
    width: auto;
    margin: 0 30vw;
    margin-bottom: 30px;
    background-color: rgb(231, 111, 13);
    border-radius: 20px;
  }
  
 .menu_cont {
  /* border: 1px solid #fff; */
  height: auto;
  padding: 2vh 0;
 }
 table,th,td{
  /* border: 1px solid rgb(211, 111, 13);   */
  padding: 20px 20px;
  width: auto;
 }
 table {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-collapse: collapse;
  width: 50vw;
  margin: 0 24vw;
  box-shadow: 0 0 20px black;
  /* border: 3px solid #fff; */
 }
 thead,th {
  font-size: 2.5rem;
 }

 td {
  text-align: left;
  font-size: 1rem;
 }
 td span {
  color: rgb(211,111,13);
  font-size: 1.3rem;
 }
 


  /* About page */
  .aboutUs_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
  }
  .aboutUs_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px 10px;
  }
  .aboutUs_card h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .aboutUs_card p {
    color: rgb(206, 206, 206);
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .about_line {
    height: 3px;
    width: auto;
    margin: 20px 10vw;
    background-color: rgb(231, 111, 13);
  }
  #about_img {
    background-image: url(/about.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .services_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }
  #services_img {
    border-radius: 50px;
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/services.jpg);
    background-size: cover;
    background-position: center;
  }
  .services_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px;
  }

  .services_card h2 {
    margin: 10px 0;
    font-size: 2.5rem;
  }
  .services_line {
    height: 3px;
    width: auto;
    margin: 20px 10vw;
    background-color: rgb(231, 111, 13);
  }
  .services_card p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .services_card li {
    text-align: left;
    line-height: 1.5;
    margin-left: 13vw;
    font-size: 1.3rem;
  }

  .location_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location_card {
    /* border: 1px solid #fff; */
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }
  .location_info {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px;
  }
  
  .location_info h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .location_line {
    height: 3px;
    margin: 20px 10vw;
    width: auto;
    background-color: rgb(231, 111, 13);
  }
  .location_info p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: rgb(206, 206, 206);
  }

  /* Contact page */
  fieldset {
    border-radius: 20px;
    border: none;
    padding: 40px 20px 20px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 18vw;
    margin-bottom: 20vh;
    width: auto;
    box-shadow: 0 0 15px black;
    
  }
  fieldset button {
    justify-content: center;
    padding:10px 30px ;
    margin: 5vh 26vw;
  }
  label {
    text-align: left;
    font-size: 1.3rem;
    font-weight: bold;
    margin: 15px 0 10px 0;
  }
  input {
    border-radius: 10px;
    height: 40px;
    width: 60vw;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    padding: 0 8px;
    border: none;
    margin: 5px 0;
    background-color: rgb(211, 211, 211);
    color: rgb(49, 49, 49);
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 8px;
    width: 60vw;
    margin: 10px 0;
    background-color: rgb(211, 211, 211);
    color: rgb(34, 34, 34);
  }




  /* Footer Section */
  footer {
    /* background: linear-gradient(to right, rgb(59, 59, 59), rgb(77, 75, 75)); */
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
  }
  .footer_card {
    /* border: 1px solid #fff; */
    height: 40vh;
    width: 30vw;
  }
  .footer_card h2 {
    font-size: 2.5rem;
    color: rgb(187, 184, 184);
  }
  .footer_line {
    background-color: rgb(231, 111, 13);
    width: auto;
    height: 2px;
    margin: 2vh 10vw;
  }
  .footer_card p {
    font-size: 1.5rem;
    color: rgb(187, 184, 184);
  }
  .footer_card a {
    display: block;
    text-decoration: none;
    font-size: 1.578rem;
    color: rgb(187, 184, 184);
    margin: 2vh 0;
  }
  .footer_card a:hover {
    color: #fff;
    padding-left: 10px;
    transition: all 0.5s ease;
  }
.footer_card ion-icon {
  color: rgb(187, 184, 184);
  margin: 5vh 0;
}
.footer_card ion-icon:hover {
  color: rgb(211, 111, 13);
  transition: all 0.5s ease;
}


  


}





/* Tablet Responsiveness */
@media  screen and (min-width: 700px) and (max-width: 1020px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }  
  a {
    text-decoration: none;
  }
  
  body {
    scroll-behavior: smooth;
    background-color: rgba(41, 40, 40, 0.767);
  }

  button {
    background-color: rgb(231, 111, 13);
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px #000;
  }

  ion-icon {
    font-size: 40px;
    padding: 0 5px;
  }
  .body_section {
    background: url(/background1.jpg);
    background-position: center;
    background-attachment: fixed;
  }

  .menuBtn button {
    border: 1px solid #fff;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m1,.m2,.m3 {
    width: 4vw;
    height: 5px;
    margin: 6px 3px;
    background-color: rgb(231, 111, 13);
    border-radius: 10px;
  }

  .nav_container {
    /* border: 1px solid #fff; */
    width: 100vw;
    height: auto;
    display: flex;
    padding: 10px 5vw;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  .nav_container h2 {
    color: #fff;
    font-size: 2.5rem;
  }
  .nav_container button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  
  .nav_links {
    /* border: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.9);
    height: 80vh;
    width: 40vw;
    position: absolute;
    top: 12vh;
    right: 0;
    padding: 20px 10px;
    border-radius: 20px;
    display: none;
  }
  .nav_links li {
    list-style: none;
    display: block;
    margin: 5vh 0;
  }
  .nav_links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 3rem;
    font-weight: 100;
    padding-top: 15vh;
    text-shadow: 0 2px 10px black;
  }
  header h1 span {
    font-weight: bold;
    font-size: 4rem;
  }
  .line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw;
    border-radius: 10px;
  }
  header button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 30px;
    margin: 20px 0;
  }

  /* Welcome Section */
  .welcome_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    /* background: linear-gradient(to right, rgba(61, 61, 61, 0.5), rgba(99, 98, 98, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
  }
  .welcome_card {
    /* border: 1px solid #fff; */
    height: 40vh;
    width: 20vw;
    border-radius: 30px;
    margin: 30px 30px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .welcome_logo {
    /* border: 1px solid #fff; */
    border-radius: 100%;
    display: block;
    width: auto;
    height: auto;
    margin: 5vh 4vw -18vh 4vw;

  }
  .welcome_card h3 {
    margin-top: 20vh;
    margin-bottom: 10px;
    font-size: 25px; 
    color: rgb(211, 211, 211); 
  }
  .welcome_card p {
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(211, 211, 211);
  }
  .welcome_card span {
    color: rgb(211, 211, 211);
  }
  .welcome_card a {
    text-decoration: none;
    padding-top: 10vh;
    color: rgb(211, 211, 211);
  }

  /* Food Section */
  .food_menu_container {
    /* border: 1px solid #fff; */
    padding: 10px 0;
    height: auto;
    
  }
  .food_menu_container h1 {
    font-size: 3rem;
  }
  /* .food_card_container {
    margin: 0;
  } */
  .food_menu_container button {
    font-size: 20px;
    margin: 20px 0;
    font-size: 1rem;
  }
  
  .food_line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw;
    border-radius: 10px;
  }

  .food_card_container {
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding:5vh 0;
    flex-wrap: wrap;
    align-items: center;
  }

  .food_card {
    /* border: 1px solid #fff; */
    width: 15vw;
    height: 32vh;
    margin: 10px;
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .food_img {
    border: 2px solid rgb(211,111,13);
    height: 15vh;
    border-radius: 100%;
    margin: -5vh 15px 0 15px;
    width: auto;
    /* background: linear-gradient(to bottom, rgba(49, 49, 49), rgb(87, 85, 85)); */
    background-color: rgb(83, 81, 81);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 10px #000;
  }
  #breakfast {
    background-image: url(/breakfast.jpg);
  }
  #tacos {
    background-image: url(/tacos.jpg);
  }
  #burgers {
    background-image: url(/burger.jpg);
  }
  #wraps {
    background-image: url(/wraps.jpg);
  }
  #fishfingers {
    background-image: url(/fishfinger.jpg);
  }
  #hotdog {
    background-image: url(/hotdogs.jpg);
  }
  #salad {
    background-image: url(/salads.jpg);
  }
  #sides {
    background-image: url(/fries.jpg);
  }
  #economy {
    background-image: url(/economy.jpg);
  }
  #pork {
    background-image: url(/pork.jpg);
  }
  #chickenWings {
    background-image: url(/chickenWings.jpg);
  }
  #grilledchicken {
    background-image: url(/grilledchicken.jpg);
  }
  .food_card h3 {
    margin: 10px 0;
    font-size: 20px;

  }
  .food_card button {
    background: rgb(231, 111, 13);
    font-size: 15px;
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px;
  }
  


/* To top Btn */
#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(211, 111, 13);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100%;
}


  /* About Section */
  .about_container {
    /* border: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    
  }
  .about_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 60vh;
    padding: 20px;

  }
  .about_card h2 {
    margin: 15px 0;
    font-size: 2rem;
    color: rgb(211, 211, 211);
  }
  .about_line {
    width: auto;
    height: 2px;
    background-color: rgb(231, 111, 13);
    margin: 5px 25vw;
  }
  .about_card p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: rgb(211, 211, 211);
  }
  .about_card button {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 20px;

  }
  .about_card button:hover {
    background-color: rgb(209, 6, 6);
    transition: all 0.3s ease;
  }
  #about_img {
    border-radius: 50px;
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }



  /* Menu Page */
  .menucard_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh 0;
  }
  #menuCont {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu_container h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }
  .menu_container p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  .menu_line {
    height: 3px;
    width: auto;
    margin: 0 30vw;
    background-color: rgb(231, 111, 13);
    border-radius: 20px;
  }
  .menu_card {
    /* border: 1px solid #fff; */
    width: 12vw;
    height: 30vh;
    margin: 10px 5px;
    margin-top: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
 .menu_cont {
  /* border: 1px solid #fff; */
  height: auto;
  padding: 2vh 0;
 }
 table,th,td{
  /* border: 1px solid rgb(211, 111, 13);   */
  padding: 15px 20px;
  width: auto;
 }
 table {
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.9);
  border-collapse: collapse;
  width: 60vw;
  margin: 0 20vw;
  box-shadow: 0 0 20px black;
  /* border: 3px solid #fff; */
 }
 thead,th {
  font-size: 2.2rem;
 }

 td {
  text-align: left;
  font-size: .9rem;
 }
 td span {
  color: rgb(211,111,13);
  font-size: 1.1rem;
 }



  /* About page */
  .aboutUs_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
  }
  .aboutUs_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px 10px;
  }
  .aboutUs_card h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .aboutUs_card p {
    color: rgb(206, 206, 206);
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .about_line {
    height: 3px;
    width: auto;
    margin: 20px 10vw;
    background-color: rgb(231, 111, 13);
  }
  .services_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
  }
  #services_img {
    border-radius: 50px;
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }
  .services_card {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px;
  }

  .services_card h2 {
    margin: 10px 0;
    font-size: 2.5rem;
  }
  .services_line {
    height: 3px;
    width: auto;
    margin: 20px 10vw;
    background-color: rgb(231, 111, 13);
  }
  .services_card p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .services_card li {
    text-align: left;
    line-height: 1.5;
    margin-left: 13vw;
    font-size: 1.3rem;
  }

  .location_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .location_card {
    /* border: 1px solid #fff; */
    height: 60vh;
    width: 30vw;
    margin: 0 10px;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }
  .location_info {
    /* border: 1px solid #fff; */
    width: 40vw;
    height: 50vh;
    padding: 20px;
  }
  
  .location_info h2 {
    margin: 10px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .location_line {
    height: 3px;
    margin: 20px 10vw;
    width: auto;
    background-color: rgb(231, 111, 13);
  }
  .location_info p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: rgb(206, 206, 206);
  }




  /* Contact page */
  fieldset {
    border-radius: 20px;
    padding: 40px 20px 20px 35px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 55px;
    margin-bottom: 30px;
    width: auto;
    
  }
  fieldset button {
    justify-content: center;
    padding:5px 20px ;
    margin: 5vh 26vw;
  }
  label {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0 10px 0;
  }
  input {
    border-radius: 10px;
    height: 40px;
    width: 75vw;
    text-align: left;
    padding: 0 8px;
    border: none;
    margin: 5px 0;
    background-color: rgb(211, 211, 211);
    color: rgb(34, 34, 34);
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    text-align: left;
    padding: 5px 8px;
    width: 75vw;
    margin: 10px 0;
    background-color: rgb(211, 211, 211);
    color: rgb(34, 34, 34);
  }



  /* Footer Section */
  footer {
    /* background: linear-gradient(to right, rgb(59, 59, 59), rgb(77, 75, 75)); */
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
  }
  .footer_card {
    /* border: 1px solid #fff; */
    height: 40vh;
    width: 30vw;
  }
  .footer_card h2 {
    font-size: 2rem;
    color: rgb(187, 184, 184);
  }
  .footer_line {
    background-color: rgb(231, 111, 13);
    width: auto;
    height: 2px;
    margin: 2vh 10vw;
  }
  .footer_card p {
    font-size: 1.2rem;
    color: rgb(187, 184, 184);
  }
  .footer_card a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(187, 184, 184);
    margin: 2vh 0;
  }
  .footer_card ion-icon {
    color: rgb(187, 184, 184);
    margin: 20px 0;
  }
  

}






/* Mobile Responsiveness */
@media  screen and (min-width: 320px) and (max-width: 700px) {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    text-align: center;
  }  
  a {
    text-decoration: none;
  }
  
  body {
    scroll-behavior: smooth;
    background-color: rgba(41, 40, 40, 0.767);
  }

  button {
    background-color: rgb(231, 111, 13);
    border: none;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 8px #000;
  }

  ion-icon {
    font-size: 40px;
    padding: 0 8px;
  }
  .body_section {
    background: url(/background1.jpg);
    background-position: center;
    background-attachment: fixed;
  }

  .menuBtn button {
    /* border: 1px solid #fff; */
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m1,.m2,.m3 {
    width: 10vw;
    height: 5px;
    margin: 6px 3px;
    background-color: rgb(231, 111, 13);
    border-radius: 10px;
  }

  .nav_container {
    /* border: 1px solid #fff; */
    width: 100vw;
    height: auto;
    display: flex;
    padding: 10px 5vw;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(128, 128, 128, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
  }
  .nav_container h2 {
    color: #fff;
    font-size: 2rem;
  }
  .nav_container button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  
  .nav_links {
    /* border: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.9);
    height: 80vh;
    width: 100vw;
    position: absolute;
    top: 10vh;
    right: 0;
    padding: 20px 10px;
    border-radius:  0 0 20px 20px;
    display: none;
  }
  .nav_links li {
    list-style: none;
    display: block;
    margin: 5vh 0;
  }
  .nav_links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  header h1 {
    font-size: 2.5rem;
    font-weight: 100;
    padding-top: 20vh;
    text-shadow: 0 2px 10px black;
  }
  header h1 span {
    font-weight: bold;
    font-size: 3rem;
  }
  .line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw;
    border-radius: 10px;
  }
  header button {
    padding: 5px 10px;
    font-size: 1.2rem;
    border-radius: 30px;
    margin: 0 0 20px 0;
  }

  /* Welcome Section */
  .welcome_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    /* background: linear-gradient(to right, rgba(61, 61, 61, 0.5), rgba(99, 98, 98, 0.5)); */
    background-color: rgba(0, 0, 0, 0.5);
  }
  .welcome_card {
    /* border: 1px solid #fff; */
    height: 30vh;
    width: 30vw;
    border-radius: 30px;
    margin: 30px 5px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .welcome_logo {
    /* border: 1px solid #fff; */
    border-radius: 100%;
    display: block;
    width: auto;
    height: auto;
    margin: 2vh 4vw -13vh 4vw;
  }
  .welcome_logo svg {
    height: 12vh;
    width: 12vw;
  }
  .welcome_card h3 {
    margin-top: 12vh;
    margin-bottom: 10px;
    font-size: 1.2rem;  
  }
  .welcome_card p {
    font-size: .9rem;
    line-height: 1.2;
  }
  .welcome_card p span {
    font-size: .8rem;
  }
  .welcome_card a {
    text-decoration: none;
    padding-top: 10vh;
    font-size: .9rem;
  }

  /* Food Section */
  .food_menu_container {
    /* border: 1px solid #fff; */
    padding: 10px 0;
    height: auto;
    
  }
  .food_menu_container h1 {
    font-size: 2.5rem;
  }
  .food_menu_container button {
    font-size: 20px;
    margin: 20px 0;
    font-size: 1rem;
  }
  
  .food_line {
    background: rgb(231, 111, 13);
    height: 3px;
    width: auto;
    margin: 20px 20vw 0 20vw;
    border-radius: 10px;
  }

  .food_card_container {
    height: auto;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    margin: 0;
    padding:5vh 0;
    flex-wrap: wrap;
    align-items: center;
  }

  .food_card {
    /* border: 1px solid #fff; */
    width: 35vw;
    height: 30vh;
    margin: 5px;
    margin-top: 40px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px #000;
  }
  .food_img {
    border: 2px solid rgb(211,111,13);
    height: 15vh;
    border-radius: 100%;
    margin: -5vh 15px 0 15px;
    width: auto;
    /* background: linear-gradient(to bottom, rgba(49, 49, 49), rgb(87, 85, 85)); */
    background-color: rgb(83, 81, 81);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 2px 2px 10px #000;
  }
  #breakfast {
    background-image: url(/breakfast.jpg);
  }
  #tacos {
    background-image: url(/tacos.jpg);
  }
  #burgers {
    background-image: url(/burger.jpg);
  }
  #wraps {
    background-image: url(/wraps.jpg);
  }
  #fishfingers {
    background-image: url(/fishfinger.jpg);
  }
  #hotdog {
    background-image: url(/hotdogs.jpg);
  }
  #salad {
    background-image: url(/salads.jpg);
  }
  #sides {
    background-image: url(/fries.jpg);
  }
  #economy {
    background-image: url(/economy.jpg);
  }
  #pork {
    background-image: url(/pork.jpg);
  }
  #chickenWings {
    background-image: url(/chickenWings.jpg);
  }
  #grilledchicken {
    background-image: url(/grilledchicken.jpg);
  }
  .food_card h3 {
    margin: 10px 0;
    font-size: 1.2rem;

  }
  .food_card button {
    background: rgb(231, 111, 13);
    font-size: .8rem;
    border-radius: 20px;
    margin: 10px 0;
    padding: 5px 6px;
  }
  


/* To top Btn */
#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: rgb(211, 111, 13);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 100%;
}


  /* About Section */
  .about_container {
    /* border: 1px solid #fff; */
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    display: block;
    padding: 30px 10px;
    
  }
  .about_card {
    /* border: 1px solid #fff; */
    width: auto;
    height: auto;
    padding: 20px;

  }
  .about_card h2 {
    margin: 15px 0;
    font-size: 2rem;
    color: rgb(211, 211, 211);
  }
  .about_line {
    width: auto;
    height: 2px;
    background-color: rgb(231, 111, 13);
    margin: 10px 20vw;
  }
  .about_card p {
    line-height: 1.5;
    font-size: 1.3rem;
    color: rgb(211, 211, 211);
  }
  .about_card button {
    font-size: 1rem;
    padding: 5px 10px;
    margin: 20px 0;

  }
  
  #about_img {
    border-radius: 20px;
    height: 50vh;
    width: auto;
    margin: 0 10px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/...);
    background-size: cover;
    background-position: center;
  }



  /* About Page */
  .aboutUs_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    display: block;
    padding: 30px 0;
  }
  .aboutUs_card {
    /* border: 1px solid #fff; */
    width: auto;
    height: 50vh;
    padding: 20px 10px;
  }
  .aboutUs_card h2 {
    margin: 5px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .aboutUs_card p {
    color: rgb(206, 206, 206);
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .about_line {
    height: 3px;
    width: auto;
    margin: 15px 10vw;
    background-color: rgb(231, 111, 13);
  }
  #about_img {
    border-radius: 50px;
    background-image: url(/about.jpg);
  }
  .services_container {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 30px 10px;
  }
  #services_img {
    border-radius: 50px;
    height: 50vh;
    width: 100vw;
    /* margin: 0 10px; */
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
    background-image: url(/services.jpg);
    background-size: cover;
    background-position: center;
  }
  .services_card {
    /* border: 1px solid #fff; */
    width: auto;
    height: 50vh;
    padding: 20px;
  }

  .services_card h2 {
    margin: 5px 0;
    font-size: 2.5rem;
  }
  .services_line {
    height: 3px;
    width: auto;
    margin: 15px 10vw;
    background-color: rgb(231, 111, 13);
  }
  .services_card p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .services_card li {
    text-align: left;
    line-height: 1.5;
    margin-left: 13vw;
    font-size: 1.3rem;
  }

  .location_container {
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid #fff; */
    padding: 30px 10px;
    display: block;
  }
  .location_card {
    /* border: 1px solid #fff; */
    height: 50vh;
    width: auto;
    border-radius: 50px;
    box-shadow: 0 0 20px black;
    background-color: rgb(83, 81, 81);
  }
  .location_card iframe {
    width: 300px;
    height: 300px; 
    border-radius: 50px;
  }
  .location_info {
    /* border: 1px solid #fff; */
    width: auto;
    height: 50vh;
    padding: 20px;
  }
  
  .location_info h2 {
    margin: 5px 0;
    font-size: 2.5rem;
    color: rgb(206, 206, 206);
  }
  .location_line {
    height: 3px;
    margin: 15px 10vw;
    width: auto;
    background-color: rgb(231, 111, 13);
  }
  .location_info p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: rgb(206, 206, 206);
  }




  /* Footer Section */
  footer {
    /* background: linear-gradient(to right, rgb(59, 59, 59), rgb(77, 75, 75)); */
    background-color: rgb(19, 19, 19);
    display: block;
    padding: 30px 0;
  }
  .footer_card {
    /* border: 1px solid #fff; */
    height: auto;
    width: auto;
    margin: 50px 0;
  }
  .footer_card h2 {
    font-size: 2rem;
    color: rgb(187, 184, 184);
  }
  .footer_line {
    background-color: rgb(231, 111, 13);
    width: auto;
    height: 2px;
    margin: 2vh 40vw;
  }
  .footer_card p {
    font-size: 1.2rem;
    color: rgb(187, 184, 184);
  }
  .footer_card a {
    display: block;
    text-decoration: none;
    font-size: 1.2rem;
    color: rgb(187, 184, 184);
    margin: 2vh 0;
  }
  .footer_card ion-icon {
    color: rgb(187, 184, 184);
    margin: 30px 0;
  }



  /* Menu Page */
  .menu_container {
    border: 1px solid #fff;
  }
  .menucard_container {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh 0;
  }
  #menuCont {
    background: rgba(0, 0, 0, 0.5);
  }
  .menu_container h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }
  .menu_line {
    height: 3px;
    width: auto;
    margin: 0 30vw;
    background-color: rgb(231, 111, 13);
    border-radius: 20px;
  }
  .menu_cont {
  /* border: 1px solid #fff; */
  height: auto;
  padding: 2vh 0;
  background-color: transparent;
 }
 table,th,td{
  /* border: 1px solid rgb(211, 111, 13);   */
  padding: 15px 5px;
  width: auto;
 }
 table {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  border-collapse: collapse;
  width: 100vw;
  margin: 0;
  box-shadow: 0 0 20px black;
  /* border: 3px solid #fff; */
 }
 thead,th {
  font-size: 2.2rem;
 }

 td {
  text-align: left;
  font-size: .9rem;
 }
 td span {
  color: rgb(211,111,13);
  font-size: 1.1rem;
 }




  /* Contact page */
  fieldset {
    border-radius: 20px;
    border: none;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10vh;
    width: auto;
    box-shadow: 0 0 20px black;
  }
  fieldset button {
    justify-content: center;
    padding:5px 20px ;
    margin: 5vh 27.5svw;
  }
  label {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5vh;
  }
  input {
    border-radius: 10px;
    height: 40px;
    width: 82vw;
    text-align: left;
    padding: 0 8px;
    border: none;
    margin: 5px 0;
    background-color: rgb(211, 211, 211);
  }
  textarea {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    text-align: left;
    padding: 5px 8px;
    width: 82vw;
    height: 20vh;
    margin: 10px 0;
    background-color: rgb(211, 211, 211);
  }
    
}